<template>
  <div>
    <div class="card mt-5">
      <div class="card-header">
        <div class="row d-flex justify-content-around">
          <div class="col-6 col-lg-3">
            Enrollment: <b>{{eno}}</b>
          </div>
          <div class="col-6 col-lg-3 text-right text-lg-center">
            Program: <b>{{program}}</b>
          </div>
          <div class="col-6 col-lg-3 text-left text-lg-center">
            Total Marks: <b>{{finalMarks}}</b>
          </div>
          <div class="col-6 col-lg-3 text-right">
            Percentage: <b>{{finalPercentage}}%</b>
          </div>
        </div>
      </div>

      <div class="card-body">
        <div class='rg-container'>
          <table class='rg-table zebra'>
            <thead>
            <tr class="text-center">
              <th class='pb-3'>Course</th>
              <th class='pb-3'>Assignment</th>
              <th class='pb-3'>Lab 1</th>
              <th class='pb-3'>Lab 2</th>
              <th class='pb-3'>Lab 3</th>
              <th class='pb-3'>Lab 4</th>
              <th class='pb-3'>Theory</th>
              <th class='pb-3'>Assignment(@25%)</th>
              <th class='pb-3'>Marks(@75%)</th>
              <th class='pb-3'>Total</th>
              <th class='pb-3'>Status</th>
            </tr>
            </thead>
            <tbody>

            <tr class='text-center' v-for="result in results">
              <td class='py-3' data-title='Course'>{{result.course}}</td>
              <td class='py-3' data-title='Assignment'>{{result.assignment}}</td>
              <td class='py-3' data-title='Lab 1'>{{result.lab1}}</td>
              <td class='py-3' data-title='Lab 2'>{{result.lab2}}</td>
              <td class='py-3' data-title='Lab 3'>{{result.lab3}}</td>
              <td class='py-3' data-title='Lab 4'>{{result.lab4}}</td>
              <td class='py-3' data-title='Theory'>{{result.theory}}</td>
              <td class='py-3' data-title='Assignment(@25%)'>{{result.assignmentp}}</td>
              <td class='py-3' data-title='Marks(@75%)'>{{result.marks}}</td>
              <td class='py-3' data-title='Total'>{{result.total}}</td>
              <td class='py-3' data-title='Status'>{{result.status}}</td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "GradeCard",
    props: {
      results: Array,
      finalMarks: Number,
      finalPercentage: Number,
      eno: String,
      program: String,

    },
  }
</script>

<style scoped>
  .rg-container {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
    padding: 1em 0.5em;
    color: #222;
  }

  .rg-header {
    margin-bottom: 1em;
    text-align: left;
  }

  .rg-header > * {
    display: block;
  }

  .rg-hed {
    font-weight: bold;
    font-size: 1.4em;
  }

  .rg-dek {
    font-size: 1em;
  }

  .rg-source {
    margin: 0;
    font-size: 0.75em;
    text-align: right;
  }

  .rg-source .pre-colon {
    text-transform: uppercase;
  }

  .rg-source .post-colon {
    font-weight: bold;
  }

  /* table */
  table.rg-table {
    width: 100%;
    margin-bottom: 0.5em;
    font-size: 1em;
    border-collapse: collapse;
    border-spacing: 0;
  }

  table.rg-table tr {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-align: left;
    color: #333;
  }

  table.rg-table thead {
    border-bottom: 3px solid #ddd;
  }

  table.rg-table tr {
    border-bottom: 1px solid #ddd;
    color: #222;
  }

  table.rg-table tr.highlight {
    background-color: #dcf1f0 !important;
  }

  table.rg-table.zebra tr:nth-child(even) {
    background-color: #f6f6f6;
  }

  table.rg-table th {
    font-weight: bold;
    padding: 0.35em;
    font-size: 0.9em;
  }

  table.rg-table td {
    padding: 0.35em;
    font-size: 0.9em;
  }

  table.rg-table .highlight td {
    font-weight: bold;
  }

  table.rg-table th.number,
  td.number {
    text-align: right;
  }

  /* media queries */
  @media screen and (max-width: 600px) {
    .rg-container {
      max-width: 600px;
      margin: 0 auto;
    }

    table.rg-table {
      width: 100%;
    }

    table.rg-table tr.hide-mobile,
    table.rg-table th.hide-mobile,
    table.rg-table td.hide-mobile {
      display: none;
    }

    table.rg-table thead {
      display: none;
    }

    table.rg-table tbody {
      width: 100%;
    }

    table.rg-table tr,
    table.rg-table th,
    table.rg-table td {
      display: block;
      padding: 0;
    }

    table.rg-table tr {
      border-bottom: none;
      margin: 0 0 1em 0;
      padding: 0.5em;
    }

    table.rg-table tr.highlight {
      background-color: inherit !important;
    }

    table.rg-table.zebra tr:nth-child(even) {
      background-color: transparent;
    }

    table.rg-table.zebra td:nth-child(even) {
      background-color: #f6f6f6;
    }

    table.rg-table tr:nth-child(even) {
      background-color: transparent;
    }

    table.rg-table td {
      padding: 0.5em 0 0.25em 0;
      border-bottom: 1px dotted #ccc;
      text-align: right;
    }

    table.rg-table td[data-title]:before {
      content: attr(data-title);
      font-weight: bold;
      display: inline-block;
      content: attr(data-title);
      float: left;
      margin-right: 0.5em;
      font-size: 0.95em;
    }

    table.rg-table td:last-child {
      padding-right: 0;
      border-bottom: 2px solid #ccc;
    }

    table.rg-table td:empty {
      display: none;
    }

    table.rg-table .highlight td {
      background-color: inherit;
      font-weight: normal;
    }
  }
</style>
