<template>
  <div>
    <div class="card">
      <div class="card-header">IGNOU Grade Card</div>

      <div class="card-body">
        <div class="form-group row">
          <label for="program" class="col-md-4 col-form-label text-md-right">
            Program
          </label>
          <div class="col-md-6">
            <select class="form-control" id="program" name="program" disabled required>
              <option :value="program" selected>{{program}}</option>

            </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="enrollment" class="col-md-4 col-form-label text-md-right">
            Enrollment Number
          </label>

          <div class="col-md-6">
            <input
              id="enrollment" type="number" class="form-control" name="enrollment" value="" @change="hideGradeCard"
              required v-model="eno" @keyup.enter="load" autofocus>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6 offset-md-4" v-if="error">
            <div id="error" style="color: red">{{error}}</div>
          </div>
        </div>
        <div class="form-group row mb-0">
          <div class="col-md-6 offset-md-4">
            <Stretch v-if="showLoader"></Stretch>
            <button class="btn btn-primary" @click="load" v-else >
              Search
            </button>

          </div>
        </div>
      </div>
    </div>
    <grade-card
      v-if="showGradeCard"
      :results="result" :finalMarks="finalMarks"
      :finalPercentage="finalPercentage" :eno="eno" :program="program"
    ></grade-card>

  </div>
</template>

<script>
  import {Stretch} from 'vue-loading-spinner'

  export default {
    name: "GradeForm",
    components: {
      Stretch
    },
    props: {
      type: '',
      program:'',
    },
    data() {
      return {
        pageLoaded: false,
        eno: null,
        result: null,
        finalMarks: null,
        finalPercentage: null,
        error: null,
        showGradeCard: false,
        showLoader:false,
      }
    },
    mounted() {

    }
    ,
    methods: {
      hideGradeCard() {
        this.showGradeCard = false;
      },
      load() {
        this.showGradeCard = false;
        this.showLoader=true;
        this.error=null;
        axios
          .get(
            `/mca-percentage/?program=${this.program}&eno=${this.eno}&type=${this.type}`)
          .then(response => {
            this.result = response.data.data['myArray'];
            this.finalMarks = response.data.data['finalMarks'];
            this.finalPercentage = response.data.data['percentage'];
            this.error = response.data.data['error'];
            if (this.error === null) {
              this.showGradeCard = true;
            }
            this.showLoader=false;
          });
      }
    }

  }
</script>

<style scoped>

</style>
