<template>
    <div class="card">
        <div class="card-header">Contact Us</div>
        <div class="card-body">
            <form id="contactForm">
                <div class="form-group row" v-if="sucessMessage">
                    <label
                        for=""
                        class="col-md-4 col-form-label text-md-right"
                    ></label>
                    <div class="col-md-6">
                        <div class="alert-success">
                            Message sent
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label
                        for="name"
                        class="col-md-4 col-form-label text-md-right"
                        >Name</label
                    >
                    <div class="col-md-6">
                        <input
                            id="name"
                            type="text"
                            class="form-control"
                            name="name"
                            value=""
                            required
                            autofocus
                            v-model="contact.name"
                        />
                    </div>
                </div>

                <div class="form-group row">
                    <label
                        for="email"
                        class="col-md-4 col-form-label text-md-right"
                        >Email</label
                    >
                    <div class="col-md-6">
                        <input
                            id="email"
                            type="email"
                            class="form-control"
                            name="email"
                            value=""
                            required
                            v-model="contact.email"
                        />
                    </div>
                </div>

                <div class="form-group row">
                    <label
                        for="phone"
                        class="col-md-4 col-form-label text-md-right"
                        >Phone</label
                    >
                    <div class="col-md-6">
                        <input
                            id="phone"
                            type="number"
                            class="form-control"
                            name="phone"
                            value=""
                            required
                            v-model="contact.phone"
                        />
                    </div>
                </div>

                <div class="form-group row">
                    <label
                        for="message"
                        class="col-md-4 col-form-label text-md-right"
                        >Message</label
                    >
                    <div class="col-md-6">
                        <textarea
                            class="form-control"
                            id="message"
                            name="message"
                            rows="3"
                            v-model="contact.message"
                            required
                        ></textarea>
                    </div>
                </div>
                <div class="form-group row mb-0">
                    <div class="col-md-6 offset-md-4 text-right">
                        <button
                            type="button"
                            class="btn btn-primary"
                            @click="sendMail"
                        >
                            Send Message
                        </button>
                        <button type="reset" class="btn btn-secondary">
                            Reset
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
export default {
    name: "ContactForm",
    props:{subject:''},
    data() {
        return {
            contact: [],
            sucessMessage: false
        };
    },
    methods: {
        // name: this.contact["name"],
        // email: this.contact["email"],
        // message: this.contact["message"],
        // phone: this.contact["number"],
        // subject: "Examaholic customer concern
        sendMail() {
            if (document.getElementById("contactForm").reportValidity()) {
                let contactData={};
                this.contact.subject=this.subject;
                Object.assign(contactData,this.contact);
                axios
                    .post('contact/send-mail', contactData)
                    .then(response => {
                        this.contact = [];
                        this.sucessMessage=true;
                    });
            }
        }
    }
};
</script>

<style scoped></style>
