<template>
    <div class="card">
        <div class="card-header">Reach Us</div>
        <div class="card-body">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3503.512190136624!2d77.06854231551812!3d28.5844074930074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d1bfea7a0117f%3A0x8817bccbd96b2d25!2sExamaholic!5e0!3m2!1sen!2sin!4v1574181317883!5m2!1sen!2sin"
                width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
    </div>
</template>

<script>
    export default {
        name: "GoogleMap"
    }
</script>

<style scoped>

</style>
